# Hamoye Internship stage B tag along project

In [32]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import math

%matplotlib inline

In [3]:
df = pd.read_csv('energydata_complete.csv')

In [4]:
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19735 non-null  object
 1   Appliances   19735 non-null  int64
 2   lights       19735 non-null  int64
 3   T1           19735 non-null  float64
 4   RH_1         19735 non-null  float64
 5   T2           19735 non-null  float64
 6   RH_2         19735 non-null  float64
 7   T3           19735 non-null  float64
 8   RH_3         19735 non-null  float64
 9   T4           19735 non-null  float64
 10  RH_4         19735 non-null  float64
 11  T5           19735 non-null  float64
 12  RH_5         19735 non-null  float64
 13  T6           19735 non-null  float64
 14  RH_6         19735 non-null  float64
 15  T7           19735 non-null  float64
 16  RH_7         19735 non-null  float64
 17  T8           19735 non-null  float64
 18  RH_8         19735 non-null  float64
 19  T9           19735 non-null  float64
 20  RH_9         19735 non-null  float64
 21  T_out        19735 non-null  float64
 22  Press_mm_hg  19735 non-null  float64
 23  RH_out       19735 non-null  float64
 24  Windspeed    19735 non-null  float64
 25  Visibility   19735 non-null  float64
 26  Tdewpoint    19735 non-null  float64
 27  rv1          19735 non-null  float64
 28  rv2          19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.3+ MB

## Question 12

In [7]:
#splitting the datasets of column T2 and T6 into training and testing set
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(df[['T2']], df.T6, test_size = 0.3, random_state = 42)

In [8]:
from sklearn.linear_model import LinearRegression # importing the LinearRegression model from sklearn
sin_linr = LinearRegression()
sin_linr.fit(x_train, y_train) #fitting the model with the training set from the splitted training and testing set

LinearRegression()

In [9]:
predictions = sin_linr.predict(x_test)

In [10]:
from sklearn.metrics import r2_score
modelr2_score = r2_score(predictions, y_test)
print("The r^2 value of the model fitted on the data from the column T2 and T6 is {} (two decimal places)".format(round(modelr2_score, 2)))

The r^2 value of the model fitted on the data from the column T2 and T6 is 0.44 (two decimal places)

## Question 13

In [11]:
df1 =  df.drop(['date', 'lights'], axis = 1) #dropping the date and lights column

In [12]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
normal_df = pd.DataFrame(scaler.fit_transform(df1), columns = df1.columns)
features_df = normal_df.drop('Appliances', axis = 1)
target_var = normal_df['Appliances']

In [13]:
x_train1, x_test1, y_train1, y_test1 = train_test_split(features_df, target_var, test_size = 0.3, random_state = 42)

In [14]:
from sklearn.linear_model import LinearRegression
mul_linr = LinearRegression()
mul_linr.fit(x_train1, y_train1)

LinearRegression()

In [15]:
predictions1 = mul_linr.predict(x_test1)

In [16]:
from sklearn.metrics import mean_absolute_error
mul_linr_mae = mean_absolute_error(predictions1, y_test1)
print("The Mean Absolute Error is {} (two decimal places)".format(round(mul_linr_mae, 2)))

The Mean Absolute Error is 0.05 (two decimal places)

## Question 14

In [17]:
rss = np.sum(np.square(y_test1 - predictions1))
print(" The Residual Sum of Squares is {} (two decimal places)".format(round(rss, 2)))

 The Residual Sum of Squares is 45.35 (two decimal places)

## Question 15

In [18]:
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test1, predictions1))
print("The Root Mean Squared Error is {} (three decimal places".format(round(rmse, 3)))

The Root Mean Squared Error is 0.088 (three decimal places

## Question 16

In [19]:
from sklearn.metrics import r2_score
r2_score = r2_score(y_test1, predictions1)
print("The Coefficient of Determination is {} (two decimal places)".format(round(r2_score, 2)))

The Coefficient of Determination is 0.15 (two decimal places)

## Question 18

In [21]:
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha = 0.4)
ridge_reg.fit(x_train1, y_train1)

Ridge(alpha=0.4)

In [22]:
pred = ridge_reg.predict(x_test1)

In [23]:
rmse1 = np.sqrt(mean_squared_error(y_test1, pred))

In [25]:
print(round(rmse1, 3))

0.088

Therefore there is no change to the root mean squared error (RMSE) when evaluated on the test set

##  Question 19

In [27]:
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(x_train1, y_train1)

Lasso(alpha=0.001)

## question 20

In [28]:
pre = lasso_reg.predict(x_test1)

In [35]:
rmse2 = np.sqrt(mean_squared_error(y_test1, pre))
print("The new RMSE with the lasso regression is {} (3 decimal places)".format(round(rmse2, 3)))

The new RMSE with the lasso regression is 0.094 (3 decimal places)